<section class="aboutUs__container">
  <div class="aboutUs">
    <div class="aboutUs__text">
      <h2>Коротко о нас</h2>
      <p>Мы, Фабрика Декора "КерамикЪ", уже много лет специализируемся на ретро электрике.
        За годы существования из увлекшихся любителей с горящими глазами наша команда превратилась в настоящих с большой буквы Профессионалов своего дела. Но искра в наших глазах совершенно не затухла! Сегодня, мы планомерно работаем над тем, чтоб вырастить в таких же Профессионалов новых членов нашей команды.</p>
      <button class="aboutUs__button">
        Подробнее
      </button>
    </div>
    <img src="{{'aboutUs.jpg' | asset_url}}" />
  </div>
</section>