<footer>
  <div class="footer__container">
    <div class="footer__container_item">
      <h4>подписаться</h4>
      <p>Подпишитесь на наши новости и узнавайте первыми о самом интересном, что происходит в увлекательном мире ретро электрики.</p>

      <form>
        <div>
          <input
            class="footer__email_input"
            type="email"
            placeholder="Ваш E-mail адрес"
            name="email" />

          <button class="footer__email_button" type="submit">
            Подписаться
          </button>
        </div>
      </form>

    </div>

    <div class="footer__container_item">
      <h4>ПОЛЕЗНАЯ ИНФОРМАЦИЯ</h4>
      <a href="#">Наши контакты</a>
      <a href="#">Сотрудничество</a>
      <a href="#">Монтаж</a>
      <a href="#">Карта сайта</a>
    </div>
    <div class="footer__container_item">
      <h4>КАК ПРИОБРЕСТИ</h4>
      <a href="#">Доставка</a>
      <a href="#">Оплата</a>
      <a href="#">Публичная оферта</a>
      <a href="#">Политика конфиденциальности</a>
    </div>
    <div class="footer__container_item">
      <h4>ЛИЧНОЕ ПРОСТРАНСТВО</h4>
      <a href="#">Войти в кабинет</a>
      <a href="#">История заказов</a>
      <a href="#">Избранные товары</a>
      <a href="#">Подписка на новости</a>
    </div>
  </div>

  <div class="subfooter">
    <p>Copyright © 2019 | ФД "КерамикЪ"</p>
    {% render 'mangoSVG' %}
  </div>
</footer>