<section class="slider">
  <div class="slider__background_wrapper">
    <div class="slider__background animated">
      <div class="slider__background_item">
        <img src="{{'background.jpg' | asset_url}}" alt="background">
      </div>
      <div class="slider__background_item">
        <img src="{{'background2.jpg' | asset_url}}" alt="background2">
      </div>
      <div class="slider__background_item">
        <img src="{{'background3.jpg' | asset_url}}" alt="background3">
      </div>
      <div class="slider__background_item">
        <img src="{{'background4.jpg' | asset_url}}" alt="background4">
      </div>

    </div>
  </div>

  <div class="slider__container">
    <div class="slider__wrapper">

      <div class="slider__text_wrapper animated">
        <div class="slider__text_item">
          <h1>Ищете где купить
            механизмы Salvador?
          </h1>
          <p>Осуществляя ее заказ на общую сумму от 100 000 рублей, под все заказанные выключатели и розетки для открытой проводки в подарок вы получаете рамки из натурального бука нашего собственного производства.</p>
        </div>

        <div class="slider__text_item">
          <h1>Ищете где купить
            механизмы Salvador?
          </h1>
          <p>Осуществляя ее заказ на общую сумму от 100 000 рублей, под все заказанные выключатели и розетки для открытой проводки в подарок вы получаете рамки из натурального бука нашего собственного производства.</p>

        </div>
        <div class="slider__text_item">
          <h1>Ищете где купить
            механизмы Salvador?
          </h1>
          <p>Осуществляя ее заказ на общую сумму от 100 000 рублей, под все заказанные выключатели и розетки для открытой проводки в подарок вы получаете рамки из натурального бука нашего собственного производства.</p>

        </div>
        <div class="slider__text_item">
          <h1>Ищете где купить
            механизмы Salvador?
          </h1>
          <p>Осуществляя ее заказ на общую сумму от 100 000 рублей, под все заказанные выключатели и розетки для открытой проводки в подарок вы получаете рамки из натурального бука нашего собственного производства.</p>
        </div>
      </div>


      <button class="slider__main_button animated">
        Перейти
      </button>

      {% render 'slider.radiobuttons' %}
    </div>
  </div>

</section>