<div class="radiobuttons__container">
  <input
    type="radio"
    id="rdo-1"
    name="radio__main-grp"
    checked>
  <label for="rdo-1" class="btn-radio"></label>

  <input
    type="radio"
    id="rdo-2"
    name="radio__main-grp">
  <label for="rdo-2" class="btn-radio"></label>

  <input
    type="radio"
    id="rdo-3"
    name="radio__main-grp">
  <label for="rdo-3" class="btn-radio"></label>

  <input
    type="radio"
    id="rdo-4"
    name="radio__main-grp">
  <label for="rdo-4" class="btn-radio"></label>
</div>